
#videoContainer.svelte-pz8h4f{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden}#videocanvas.svelte-pz8h4f{position:inherit;z-index:-100;min-width:100%;min-height:100%;background-size:cover;overflow:hidden}#debuginfo.svelte-pz8h4f{z-index:1;position:absolute;left:5px;bottom:100px;color:darkgreen}#markercontainer.svelte-pz8h4f{position:absolute;top:0;left:0;overflow:hidden}
body{margin:0;padding:0}
